{% extends "base.html" %}

{% block title %}О приложении{% endblock %}

{% block content %}
<div class="jumbotron">
    <h1 class="display-4">О нашем сервисе</h1>
    <p class="lead">Это простое решение для планирования и учета ваших поездок.</p>
    <p>Наш сервис помогает вам быстро планировать маршруты, рассчитывать стоимость поездок и следить за историей передвижений.</p>
    <p>Используя нашу платформу, вы сможете:</p>
    <ul>
        <li>Создавать новые поездки с указанием места отправления и прибытия;</li>
        <li>Рассчитывать расстояние и цену путешествия;</li>
        <li>Получать удобный отчет о выполненных маршрутах.</li>
    </ul>
    <p>Присоединяйтесь и управляйте своими перемещениями эффективно!</p>
</div>
{% endblock %}
