<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>{% block title %}Transport App{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}"/>
</head>
<body>
    <header>
        <nav class="navbar navbar-light bg-light">
            <div class="container-fluid">
                <a class="navbar-brand" href="/">
                    <img src="{{ url_for('static', filename='images/logo.png') }}" height="30" alt="Logo"/>
                </a>
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                    <li class="nav-item"><a class="nav-link active" aria-current="page" href="/">Главная</a></li>
                    <li class="nav-item"><a class="nav-link" href="/dashboard">Профиль</a></li>
                    <li class="nav-item"><a class="nav-link" href="/about">О приложении</a></li>
                </ul>
            </div>
        </nav>
    </header>
    <section class="content container">
        {% block content %}{% endblock %}
    </section>
    <footer class="bg-light text-center py-3">
        <small>© 2025 Taxiorenorsk | Все права защищены.</small>
    </footer>
</body>
</html>
