{% extends "base.html" %}

{% block title %}Авторизация{% endblock %}

{% block content %}
<div class="jumbotron">
    <h1 class="display-4">Авторизуйтесь</h1>
    <form method="POST" action="/login">
        <div class="form-group">
            <label for="username">Имя пользователя:</label>
            <input type="text" class="form-control" id="username" name="username" placeholder="Username" required />
        </div>
        <div class="form-group">
            <label for="password">Пароль:</label>
            <input type="password" class="form-control" id="password" name="password" placeholder="Password" required />
        </div>
        <button type="submit" class="btn btn-primary">Вход</button>
    </form>
</div>
{% endblock %}
